{% extends "_base.html" %}
{% block content %}

<h2>{{ title }}</h2>

<p><b>Basic statistics</b></p>

<table class="listing">
    <tr>
        <td>Submissions</td>
        <td class="r">{{ basic.submissions }}</td>
    </tr>
    <tr>
        <td>Fingerprints</td>
        <td class="r">{{ basic.fingerprints }}</td>
    </tr>
    <tr>
        <td>AcoustIDs</td>
        <td class="r">{{ basic.tracks }}</td>
    </tr>
    <tr>
        <td>Recordings</td>
        <td class="r">{{ basic.mbids }}</td>
    </tr>
    <tr>
        <td>Contributors</td>
        <td class="r">{{ basic.contributors }}</td>
    </tr>
</table>

<p><b>Daily additions</b></p>

<div id="graph-fp"></div>

<p><b>Searches</b></p>

<div id="lookups-graph-fp"></div>

<p><b>AcoustIDs per the number of linked recordings</b></p>

<table class="listing">
    <tr>
        <td>AcoustIDs with at least 1 recording</td>
        <td class="r">{{ basic.tracks_with_mbid }}</td>
        <td class="r">{{ basic.tracks_with_mbid_percent }} %</td>
    </tr>
    {% for t in track_mbid %}
    <tr class="indent">
        <td>with {% if t.i == 1 %}1 recording{% elif t.i == 10 %}10 or more recordings{% else %}{{ t.i }} recordings{% endif %}</td>
        <td class="r">{{ t.count }}</td>
        <td class="r">{{ t.percent }} %</td>
    </tr>
    {% endfor %}
</table>

<p><b>Recordings per the number of linked AcoustIDs</b></p>

<table class="listing">
    <tr>
        <td>Recording with at least 1 AcoustID</td>
        <td class="r">{{ basic.mbids }}</td>
        <td class="r">100.00 %</td>
    </tr>
    {% for t in mbid_track %}
    <tr class="indent">
        <td>with {% if t.i == 1 %}1 AcoustID{% elif t.i == 10 %}10 or more AcoustIDs{% else %}{{ t.i }} AcoustIDs{% endif %}</td>
        <td class="r">{{ t.count }}</td>
        <td class="r">{{ t.percent }} %</td>
    </tr>
    {% endfor %}
</table>

{% macro data_series(name, data, visible=True)  %}
{
    name: '{{ name }}',
	data: [
		{% for i in data -%}
			[Date.UTC({{ i.date.year }}, {{ i.date.month - 1 }}, {{ i.date.day }}), {{ i.value }}]{% if not loop.last %},{% endif %}
		{%- endfor %}
	],
	visible: {{ 'true' if visible else 'false' }}
}
{% endmacro %}

{% macro lookup_data_series(name, data, field, visible=True)  %}
{
    name: '{{ name }}',
	data: [
		{% for i in data -%}
			[Date.UTC({{ i.date.year }}, {{ i.date.month - 1 }}, {{ i.date.day }}), {{ i[field] }}]{% if not loop.last %},{% endif %}
		{%- endfor %}
	],
	visible: {{ 'true' if visible else 'false' }}
}
{% endmacro %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script src="/static/highcharts.js" type="text/javascript"></script>
<script type="text/javascript">
var chart1; // globally available
var chart2; // globally available
$(document).ready(function() {
	chart1 = new Highcharts.Chart({
		chart: {
			renderTo: 'graph-fp',
			height: 250,
			zoomType: 'x',
			defaultSeriesType: 'line'
		},
		title: { text: '' },
		xAxis: {
			type: 'datetime',
			dateTimeLabelFormats: {
				month: '%e. %b',
				year: '%b'
			}
		},
		yAxis: {
			title: { text: '' }
		},
		legend: {
			shadow: false
		},
		plotOptions: {
			line: {
				lineWidth: 1
			}
		},
		series: [
			{{ data_series('AcoustIDs', daily.tracks) }},
			{{ data_series('MBIDs', daily.mbids) }},
		]
	});
	chart2 = new Highcharts.Chart({
		chart: {
			renderTo: 'lookups-graph-fp',
			height: 250,
			zoomType: 'x',
			defaultSeriesType: 'line'
		},
		title: { text: '' },
		xAxis: {
			type: 'datetime',
			dateTimeLabelFormats: {
				month: '%e. %b',
				year: '%b'
			}
		},
		yAxis: {
			title: { text: '' }
		},
		legend: {
			shadow: false
		},
		plotOptions: {
			line: {
				lineWidth: 1
			}
		},
		series: [
			{{ lookup_data_series('All', lookups, 'count') }},
			{{ lookup_data_series('Hits', lookups, 'count_hits') }},
			{{ lookup_data_series('Misses', lookups, 'count_nohits') }}
		]
	});
});
</script>

{% endblock %}

