{% extends "_base.html" %}
{% block content %}

<h2>{{ title }}</h2>

<form method="POST" action="{{ base_url }}edit/toggle-track-mbid">
<input type="hidden" name="mbid" value="{{ mbid }}" />
<input type="hidden" name="track_id" value="{{ track_id }}" />
<input type="hidden" name="state" value="{{ '1' if state else '0' }}" />
<input type="hidden" name="submit" value="1" />

<p>
    Are you sure you want to {% if not state %}link{% else %}unlink{% endif %}
    MBID "<a href="//musicbrainz.org/recording/{{ mbid }}">{{ mbid }}</a>"
    {% if not state %}to{% else %}from{% endif %}
    track "<a href="{{ base_url }}track/{{ track_gid }}">{{ track_gid }}</a>"?
</p>

<p>Comment:<br /><textarea style="width:80%;height:3em;" name="note"></textarea></p>

<p><input type="submit" value="Submit" /></p>

</form>

{% endblock %}

