{% extends "_base.html" %}
{% block content %}

<h2>{{ title }}</h2>

<p>
    This track has {{ fingerprints | length }} fingerprint(s) and is linked
    to {{ recordings | length }} MusicBrainz recording(s).
</p>

{#
{% if fingerprints[1] %}

<p>Similarity matrix of the track's fingerprints:</p>

<table class="matrix">
<tr>
    <th>&nbsp;</th>
{% for fp1 in fingerprints %}
    <th title="{{ fp1.id }}">{{ fp1.i  }}</th>
{% endfor  %}
</td>
{% for fp1 in fingerprints %}
<tr>
    <th title="{{ fp1.id }}">{{ fp1.i }}</th>
    {% for fp2 in fingerprints %}
    <td style="background-color: {{ matrix[fp1.id][fp2.id].color }};" title="{{ fp1.id }} vs {{ fp2.id }}">{{ matrix[fp1.id][fp2.id].value | round(2) }}</td>
    {% endfor  %}
</td>
{% endfor  %}
</table>

{% endif %}
#}

{% macro format_length(secs) -%}
{{ "%d:%02d" | format(secs / 60, secs % 60) }}
{%- endmacro %}

<p>Fingerprints:</p>

<table class="listing">
<tr>
    <th>ID</th>
    <th style="width:5em;">Length</th>
    <th style="width:5em;">Sources</th>
</tr>
{% for fp in fingerprints %}
<tr>
    <td><a href="{{ base_url }}fingerprint/{{ fp.id }}">{{ fp.id }}</a></td>
    <td>{{ format_length(fp.length) }}</td>
    <td>{{ fp.submission_count }}</td>
{% endfor %}
</tr>
</table>

{% if recordings %}
<p>Linked MusicBrainz recordings:</p>

<table class="listing">
<tr>
    <th>Title</th>
    <th>Artist</th>
    <th style="width:5em;">Length</th>
    <th style="width:5em;">Sources</th>
    {% if moderator %}
    <th></th>
    {% endif %}
</tr>
{% for rec in recordings %}
<tr{% if rec.disabled %} class="mbid-disabled"{% endif %}>
    {% if rec.name %}
    <td><a href="//musicbrainz.org/recording/{{ rec.mbid }}">{{ rec.name }}</a>{% if rec.comment %}<small> ({{ rec.comment }})</small>{% endif %}</td>
    <td>{{ rec.artist_name }}</td>
    <td>{{ format_length(rec.length) }}</td>
    {% else %}
    <td colspan="3"><i><a href="//musicbrainz.org/recording/{{ rec.mbid }}">{{ rec.mbid }}</a></i></td>
    {% endif %}
    <td>{{ rec.submission_count }}</td>
    {% if moderator %}
    <td>
    <form action="/edit/toggle-track-mbid" method="POST" style="display:inline">
        <input type="hidden" name="state" value="{{0 if rec.disabled else 1}}" />
        <input type="hidden" name="track_id" value="{{track.id}}" />
        <input type="hidden" name="mbid" value="{{rec.mbid}}" />
        <input type="submit" value="{{'Enable' if rec.disabled else 'Disable'}}" />
    </form>
    </td>
    {% endif %}
{% endfor %}
</tr>
</table>
{% endif %}

{% endblock %}

